.first-dice-comp {
  justify-content: center;
  align-items: center;
}

.second-dice-comp {
  justify-content: space-between;
}

.second-dice-comp .pip-comp:nth-of-type(2) {
  align-self: flex-end;
}

.third-dice-comp {
  justify-content: space-between;
}

.third-dice-comp .pip-comp:nth-of-type(2) {
  align-self: center;
}

.third-dice-comp .pip-comp:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-dice-comp,
.sixth-dice-comp {
  justify-content: space-between;
}

.fourth-dice-comp .column-comp,
.sixth-dice-comp .column-comp {
  flex-direction: column;
  justify-content: space-between;
}

.fifth-dice-comp {
  justify-content: space-between;
}

.fifth-dice-comp .column-comp {
  flex-direction: column;
  justify-content: space-between;
}

.fifth-dice-comp .column-comp:nth-of-type(2) {
  justify-content: center;
}
.dice-comp-container {
  width: 100%;
  height: 100%;
}
.dice-comp {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10%;
}
.grey {
  background-color: #e7e7e7;
  box-shadow:
    inset 0 5px white,
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
    .pip-comp {
      background-color: #333;
      box-shadow: inset 0 3px #111, inset 0 -3px #555;
    }
}
.orange {
  background-color: #fca949;
  box-shadow:
    inset 0 5px #db8f39,
    inset 0 -5px #db8f39,
    inset 5px 0 #db8f39,
    inset -5px 0 #ca883d;
    .pip-comp {
      background-color: #fff;
      box-shadow: inset 0 3px #f8e8d7, inset 0 -3px #f8e8d7;
    }
}
.red {
  background-color: #e42232;
  box-shadow:
    inset 0 5px #bb1c29,
    inset 0 -5px #bb1c29,
    inset 5px 0 #bb1c29,
    inset -5px 0 #bb1c29;
    .pip-comp {
      background-color: #fff;
      box-shadow: inset 0 3px #f6d9d9, inset 0 -3px #f6d9d9;
    }
}
.dice-container-comp {
  width: 160px;
  height: 160px;
  display: inline-block;
}
.column-comp {
  display: flex;
}

.pip-comp {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}